{% extends "base_books.html" %}

{% block content %}
    <h2>{{ object.name }}</h2>
    <br>
    <p>salutation : {{ object.salutation }}</p>
    <li>Email : {{ object.email }}</li>
{% endblock content %}
