{% extends "base_books.html" %}

{% block content %}
    <h2>Books List</h2>
    <ul>
        {% for book in object_list %}
            <li><a href ="{% url  'books:book_detail' book.id %}" >{{ book.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}