{% extends "base_books.html" %}

{% block content %}
    <h2>{{ obejct.title }}</h2>
    <br>
    <li>Authors:
        {% for author in object.authors.all %}
            {{ author }}
            {% if not forloop.last %},{% else %}{% endif %}
        {% endfor %}
    </li>
    <li>Publisher : {{ object.publisher }}</li>
    <li>Publication date : {{ object.publication_date }}</li>
{% endblock content %}