{% extends "base_books.html" %}

{% block content %}
    <h2>Books Management System</h2>
    <ul>
        {% for modelname in model_list %}
            {% with "books:"|add:modelname|lower|add:"_list" as urlvar %}
            <li><a href ="{% url  urlvar %}" >{{ modelname }}</a></li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock content %}