{% extends "base_books.html" %}

{% block content %}
    <h2>Publisher List</h2>
    <ul>
        {% for publisher in object_list %}
            <li><a href ="{% url  'books:publisher_detail' publisher.id %}" >{{ publisher.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}